@font-face {
  font-family: 'Soloburn';
  src: url('Soloburn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

/* 数字系は全部Soloburn */
#display,
#printArea {
  font-family: "Soloburn", monospace;
}

/* フラッシュ表示 */
#display {
  font-size: 90px;
  margin: 40px 0;
  letter-spacing: 10px; 
}

/* 印刷表示 */
#printArea {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 20px;
}

/* ボタン */
button {
  font-size: 16px;
  padding: 10px 15px;
  margin: 5px;
}

#answerInput {
  font-size: 24px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}